body {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
  background-image: url(images/<?php echo $selectedBg; ?>);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}